<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/style.css" data-precedence="next"/>
    <title>ERROR</title>
    <meta name="description" content="ERROR"/>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" sizes="32x32"/>
    <meta name="next-size-adjust"/>
    <style>
        .have-account {
            color: white;
            /* 链接前后文字颜色 */
        }

        .have-account a {
            color: white;
            /* 链接颜色 */
        }

        .have-account a:hover {
            color: white;
            /* 鼠标悬停时 */
        }
    </style>
</head>

<body class="__className_36bd41">
<main class="flex-auto">
    <div id="sign-in">
        <div id="auth-component">
            <div id="beuty-content">
                <div id="logo">
                    <div id="logo-image-file">
                        <img alt="logo" fetchPriority="high" decoding="async" data-nimg="1" class="logo-img"
                             src="/images/logo.svg"/>
                    </div>
                    <div id="logo-desc">
                        <h3 class="logo-text">Private Telegram Login Web</h3>
                    </div>
                </div>
                <div class="wave">
                    <img alt="wave" fetchPriority="high" decoding="async" data-nimg="1" class="wave-img"
                         src="/images/wave-tr.svg"/>
                </div>
            </div>
            <div id="form">
                <div class="form-wrapper">
                    <div class="form-container">
                        <div class="title" style="color: red">
                            <h3>404 错误</h3>
                        </div>
                        <div id="error-form" style="color: red">
                            <h2>您访问的页面不存在</h2>
                            <h2>请检查URL是否正确</h2>
                        </div>
                        <div class="form-flex-column-center">
                            <p class="have-account">
                                © 2025.Roger 版权所有。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

</html>